<link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css" />
<script src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js"></script>
<script type="application/javascript">
    var testVideo = fluidPlayer(
        "my-video",
{
	"layoutControls": {
		"controlBar": {
			"autoHideTimeout": 1,
			"animated": true,
			"autoHide": true
		},
		"htmlOnPauseBlock": {
			"html": null,
			"height": null,
			"width": null
		},
		"autoplay": false,
		"mute": true,
		"allowTheatre": true,
		"playPauseAnimation": true,
		"playbackRateEnabled": true,
		"allowDownload": true,
		"playButtonShowing": true,
		"fillToContainer": true,
		"posterImage": ""
	},
	"vastOptions": {
	"adList": [
                    {
                        "roll": "preRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 9960
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99120
                    },

{
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99180
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99240
                    },

{
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99300
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99360
                    },
{
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99420
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99480
                    },
{
                        "roll": "midRoll",
                        "vastTag": "https://fearless-discipline.com/dpmXF/zEd.GJNMvDZpG/Uk/Oebmk9luHZmUllGk_PYTPY/2bNKzRYs3jMRDmA/tCNKj/Ym3/NTjVccwcM_Qr",
                        "timer": 99540
                    },
            ]
        }
}
    );
</script>
