---
layout: null
title:  "ajrinaislamm"
categories: [video,indo,vid01]
tags: [video,indo]
image: https://pbs.twimg.com/ext_tw_video_thumb/1984629339020046336/pu/img/7asxrqYin7yQwgK0.jpg
---
 <!DOCTYPE html><html lang="en"><head>{% include head-artikel.html %}	{% include verif.html %}	{% include head.html %}</head>
<body>{% include awal-body.html %}<main><br /><br /><center><div class="video-container"><video id="my-video" controls style="width:100%" poster="https://pbs.twimg.com/ext_tw_video_thumb/1984629339020046336/pu/img/7asxrqYin7yQwgK0.jpg"><source src="https://video.twimg.com/ext_tw_video/1984629339020046336/pu/vid/avc1/404x720/_thCa09-Q1aPkKrW.mp4" type="video/mp4"></video></div></center>{% include fluid-player.html %} {% include /indri/indri04.html %}</main><br />{% include kategori.html %}<br /><br />{% include disqus.html %}{% include ads-artikel.html %}{% include related-artikel.html %}<br /><br />{% include file01.html %}{% include akhir-body.html %}<br /><br /><br />
</body></html>
